# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projet\red_tetris_boilerplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
